@charset "utf-8";
/* page min width size */
$min_width_size:1024px;

/* Theme color setting :: lv이 높을수록 색이 진함 */
$color_gray_lv0:#f8f8f8;
$color_gray_lv1:#e6e6e6;
$color_gray_lv2:#c7c7c7;
$color_gray_lv3:#464646;

/* point color setting :: 빨간색/파란색/녹색/주황색 */
$color_blue:#0e3d59;
$color_green:#88a61b;
$color_orange:#f29f05;
$color_red:#d92525;

/* white & black color setting */
$color_white:#ffffff;
$color_black:#000000;

body {min-width:$min_width_size;background-color:$color_gray_lv0}


/* header */
header {
	position:fixed;top:0;left:0;width:100%;height:91px;background-color:$color_gray_lv0;
	h1 {
		position:absolute;top:0;left:60px;
		a {display:inline-block;height:50px;padding:5px 20px;font-size:30px;font-weight:900;color:$color_gray_lv3;line-height:50px}
		a:hover {background-color:$color_gray_lv3;color:$color_white}
	}	
	.path {
		position:absolute;top:60px;left:0;width:100%;height:30px;border-top:1px solid $color_gray_lv2;background-color:$color_gray_lv1;box-shadow:5px 5px 10px -5px $color_gray_lv3;
		.home {display:inline-block;width:40px;height:30px;padding:0 10px;font-size:24px;color:$color_gray_lv3;line-height:30px;vertical-align:top;text-align:center}
		.home:hover {background-color:$color_gray_lv3;color:$color_white}
		.lv1 {
			display:inline-block;vertical-align:top;
			li {display:inline-block;color:$color_gray_lv3;
				a {display:inline-block;height:30px;padding:0 10px;font-size:12px;color:$color_gray_lv3;line-height:30px}
			}
			li:hover a {background-color:$color_gray_lv3;color:$color_white}
			.lv2 {display:inline-block;position:relative;
				ul {
					display:none;position:absolute;top:30px;left:0;width:300px;box-shadow:5px 5px 10px -5px $color_gray_lv3;
					li {
						display:block;border-top:1px solid $color_gray_lv2;
						a {display:block;position:relative;white-space:nowrap;border-radius:0;background-color:$color_gray_lv1;color:$color_gray_lv3}
						a:hover {background-color:$color_gray_lv3;color:$color_white}
						span {position:absolute;top:0;right:10px}
					}
					li:last-child a {border-radius:0 0 2px 2px}
				}
			}
			.lv2:hover ul {display:block}
		}		
	}

	.util {
		position:absolute;top:0;right:0;height:60px;
		.logoff {
			float:left;
			span {
				position:relative;float:left;width:120px;height:60px;
				button {display:block;width:100%;height:60px;font-size:14px;line-height:60px;color:$color_white}
				b {display:none;position:absolute;top:60px;left:0;height:30px;font-weight:normal;color:$color_gray_lv3;line-height:30px;white-space:nowrap}
			}
			span:hover button {opacity:0.8}
			span:hover b {display:block}
		}
		.login {
			display:none;
			float:left;
			.lv {
				position:relative;float:left;width:60px;height:60px;
				b {position:absolute;top:5px;left:5px;width:50px;height:50px;border-radius:25px;background-color:$color_gray_lv3;font-size:30px;color:$color_white;text-align:center;line-height:50px}
			}
			.name {
				float:left;width:180px;height:60px;background-color:$color_green;
			}
			span:hover button {opacity:0.8}
			span:hover b {display:block}
		}
		#clock {
			float:left;width:180px;height:60px;font-size:14px;text-align:center;line-height:60px;
		}
		.search {
			float:left;
			span {
				display:none;overflow:hidden;position:absolute;top:0;right:60px;z-index:0;width:140px;padding:20px;background-color:$color_gray_lv3;
				b {display:block;overflow:hidden;width:140px;height:20px}
				input {background-color:$color_gray_lv3;color:$color_white}
			}
			button {
				display:block;position:relative;z-index:20;width:60px;height:60px;background-color:$color_gray_lv3;font-size:24px;color:$color_white;text-align:center;line-height:60px
			}
		}
	}

	.util.log {
		.logoff {display:none}
		.login {display:block}
	}

	nav {
		position:absolute;top:0;left:0;
		.btn-nav {
			position:absolute;top:0;left:0;width:32px;height:32px;padding:14px;background-color:$color_gray_lv3;
			span {position:absolute;left:15px;width:30px;height:4px;border-radius:2px;background-color:$color_white}
			.bar-1 {top:20px}
			.bar-2 {top:36px}
		}
	}
}


/* #container */
#container {padding-top:91px}


/* footer */
footer {background-color:$color_gray_lv3}
