@charset "utf-8";

/* Theme color setting :: lv이 높을수록 색이 진함 */
$color_blue_lv0:#9cc4e4;
$color_blue_lv1:#1e6495;
$color_blue_lv2:#0f4571;
$color_blue_lv3:#030c22;
$color_orange_lv1:#feb41c;

body {background-color:$color_blue_lv1}


/* header */
header {
	position:fixed;top:0;left:0;width:100%;height:60px;background-color:$color_blue_lv2;
	.path {
		position:absolute;top:0;left:70px;
		h1 {
			display:inline-block;height:60px;
			a {display:inline-block;height:30px;margin:10px 0;padding:5px 10px;border-radius:2px;font-size:30px;font-weight:900;color:$color_blue_lv0;line-height:30px}
			a:hover {background-color:orange;color:$color_blue_lv2}
		}
		.lv1 {
			display:inline-block;vertical-align:3px;
			li {display:inline-block;color:$color_blue_lv0;
				a {display:inline-block;padding:5px 10px;border-radius:2px;font-size:12px;color:$color_blue_lv0}
				a:hover {background-color:orange;color:$color_blue_lv2}
			}
			.lv2 {display:inline-block;position:relative;
				ul {
					display:none;position:absolute;top:24px;left:0;
					li {
						display:block;
						a {display:block;white-space:nowrap;border-radius:0;background-color:$color_blue_lv3}
						a:hover {background-color:orange;color:$color_blue_lv2}
					}
					li:first-child a {border-radius:2px 2px 0 0}
					li:last-child a {border-radius:0 0 2px 2px}
				}
			}
			.lv2:hover ul {display:block}
		}		
	}
	nav {
		position:absolute;top:0;left:0;
		.btn-nav {
			position:absolute;top:0;left:0;width:32px;height:32px;padding:14px;background-color:$color_blue_lv3;
			span {position:absolute;left:15px;width:30px;height:2px;background-color:$color_blue_lv0}
			.bar-1 {top:19px}
			.bar-2 {top:29px}
			.bar-3 {top:39px}
		}
	}
}


/* #container */
#container {padding-top:50px}


/* footer */
footer {background-color:$color_blue_lv3}
