@charset "utf-8";
@import url(webfont.css);
@import url(reset.css);

body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
	color: #fff; 
	background-color:#000;
	a {
		text-decoration:none;
		font-size:100px;
		color:#fff;
		span {color:#fff}
	},
	a:hover {
		text-decoration:none;
	}
}
