#navbar {
	width:80%;
	height:23px;

	ul {list-style-type:none;}
	li {
		float:left;
		a {font-weight:bold;}
	}
}

header {width:80%;height:50px;border-color:#000}
body {background-color:#000;font-size:50px}