@charset "utf-8";

/* page min width size */
$min_width_size:1050px;

/* Theme color setting :: lv이 높을수록 색이 진함 */
$color_gray_lv0:#e1e1e1;
$color_gray_lv1:#999999;
$color_gray_lv2:#505050;
$color_gray_lv3:#333333;
$color_theme_lv0:#b3c1d9;
$color_theme_lv1:#6784b3;
$color_theme_lv2:#3a70be;

/* point color setting :: 빨간색/파란색/녹색/주황색 */
$color_red_lv0:#f4a69e;
$color_red_lv1:#e84c3d;
$color_yellow_lv0:#ffd98d;
$color_yellow_lv1:#ffb21a;
$color_green_lv0:#c3dfac;
$color_green_lv1:#87be58;
$color_blue_lv0:#a3d0e7;
$color_blue_lv1:#46a1ce;

/* white & black color setting */
$color_white:#ffffff;
$color_black:#000000;

.color-red {color:$color_red_lv1}
.color-yellow {color:$color_yellow_lv1}
.color-green {color:$color_green_lv1}
.color-blue {color:$color_blue_lv1}